<a href="https://colab.research.google.com/github/Haider899/Haider899/blob/main/Pthon_Lab_%5BUsama_haider_32192%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q:1
num1 = int(input('Enter First number : '))
num2 = int(input('Enter Second number : '))
num3 = int(input('Enter Third number : '))

if (num1 > num2) and (num1 > num3):
    largest_num = num1
elif (num2 > num1) and (num2 > num3):
    largest_num = num2
else:
    largest_num = num3
print("The largest of the 3 numbers is : ", largest_num)

if (num1 < num2) and (num1 < num3):
    smallest_num = num1
elif (num2 < num1) and (num2 < num3):
    smallest_num = num2
else:
    smallest_num = num3
print("The smallest of the 3 numbers is : ", smallest_num)

Enter First number : 20
Enter Second number : 15
Enter Third number : 17
The largest of the 3 numbers is :  20
The smallest of the 3 numbers is :  15

In [2]:
#Q:2
year = int(input('Enter current year : '))

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))


elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

else:
    print("{0} is not a leap year".format(year))

Enter current year : 2022
2022 is not a leap year

In [3]:
#Q:3
print("Enter your obtained Marks: ")
marks = int(input())

if marks>=88 and marks <=100:
    print("Your grade is A")
elif marks>=81 and marks <=87:
    print("Your grade is B+")
elif marks>=74 and marks <=80:
    print("Your grade is B")
elif marks>=67 and marks <=73:
    print("Your grade is C+")
elif marks>=60 and marks <=66:
    print("Your grade is C")
elif marks>=0 and marks <=60:
    print("Your grade is F")
else:
    print("INVALID INPUT!!!!")

Enter your obtained Marks:
83
Your grade is B+

In [10]:
#Q:4
num=(input("Enter Name: "))
print("Reverse Name is: ", num[-1:-12:-1])

Enter Name: Haider
Reverse Name is:  rediaH

In [9]:
#Q:5
Age=int(input("Enter your age in years: "))
Total_months=12
Age_in_months=Age*Total_months
print("Your age in month is: ", Age_in_months)

Enter your age in years: 22
Your age in month is:  264

In [6]:
#Q:6
a=10
b=20
print("BEFORE SWAPPING", "a=",a, "b=",b)
a=a+b
b=a-b
a=a-b
print("AFTER SWAPPING", "a=",a, "b=",b)

BEFORE SWAPPING a= 10 b= 20
AFTER SWAPPING a= 20 b= 10

In [7]:
#Q:7
userInput = 0
largest = 0
smallest = 0
#print("Enter the range of numbers = ")
userInput = input("Enter the range of numbers = ")
for x in range(0, int(userInput)+1,2):
  print(x)
  if(x>largest):
    largest = x
  if(x<smallest):
    smallest = x
print("smallest number in range is " , smallest, "and the largest is ", largest)

Enter the range of numbers = 24
0
2
4
6
8
10
12
14
16
18
20
22
24
smallest number in range is  0 and the largest is  24

In [8]:
Start = int(input("Enter the starting range: "))
End = int(input("Enter the ending range: "))
product = 1
count=0
print("Prime numbers between", Start, "and", End, "are:")
for num in range(Start, End + 1):
   if num > 1:
    for i in range(2, num):
     if (num % i) == 0:
      break
    else:
     print(num)
     count=count+1
     product=num*product
print("The total prime numbers are", count)
print("The Product of  prime numbers is", product)

Enter the starting range: 30
Enter the ending range: 70
Prime numbers between 30 and 70 are:
31
37
41
43
47
53
59
61
67
The total prime numbers are 9
The Product of  prime numbers is 1214635883296783